.HotelName {
  text-align: center;
  font-size: 70px;
  text-decoration: underline;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 30vh;
}

.bookNow {
  position: absolute;
  left: 73vh;
  top: 30vh;
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 65px;
  background-color: rgba (0, 0, 0, 0.5);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.bookNow:hover {
  background-color: #ff9900;
}
