.titleText {
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    position:relative;
    top: 300px;
    bottom: 300px;
    text-align: center;
  
    
}

.hotelName {
    color: rgb(181, 168, 168)55, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.subText {
    color: rgb(181, 168, 168)55, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
