.roomTitle {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: black;
    font-weight: bold;
    font-size: large;
    background-color: lightblue;
    padding: 2px 5px;
    margin-left: 320px;
    border-radius: 3px;
    text-align: center; /* Add this line to center the text */
    width: 50%;
    margin-bottom: 20px;
  }

/* Custom Table Styles */
.custom-table {
    background-color: #4c9def; /* Dark background color */
    color: white; /* Text color */
  }
  
  .custom-table th,
  .custom-table td {
    border-color:  #000000; /* Border color */
  }
  
  .custom-table th {
    background-color:  #4c9def; /* Header background color */
  }
  
  .custom-table tbody tr:nth-of-type(odd) {
    background-color: #000000; /* Odd row background color */
  }
  
  .custom-table tbody tr:hover {
    background-color: #000000; /* Hover row background color */
  }
  

 
 
 
  