.navbar {
    margin: 0 !important;
    padding: 0 !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    height: 60px !important;
    opacity: 0.9 !important;
  }
  
  .container-fluid {
    padding: 0 !important;
  }
  
  .navbar-brand {
    padding: 0 1rem !important;
  }
  
  .navbar-toggler {
    padding: 0.25rem 0.5rem !important;
  }
  
  .navbar-collapse {
    padding: 0 !important;
  }
  
  .navbar-nav {
    padding: 0 !important;
  }
  
  .nav-item {
    padding: 10 0.5rem !important;
  }
  
  .nav-link {
    padding: 0.5rem 1rem !important;
  }

  .hotel-logo {
    width: auto;
    height: 3.75rem;
    margin-left: 150px;
    padding-right: 0px;
  }

  .navbar-brand {
    padding-left: 0rem;
  }