.title {
  font-weight: 100;
  color: aliceblue;
  padding-bottom: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.roomPic {
  position: relative;
  top: 0vh;
  height: 175px;
}

.link-no-underline {
  color: black;
  font-size: 60px;
  text-align: Left;
  top: 7.5px;
  bottom: 0vh;
  text-decoration: none;
  
}
.price-of-room {
  text-align: left;
  margin-right: 0%;
  font-size: large;
  bottom: 10vh;
  top: 5px;
  text-decoration: none;
  color: #001f3f;
}

.custom-card {
  background-color: rgba(255, 255, 255, 0.7);
}

.indivCard {
  background-color: rgba(255, 255, 255, 0.7);
}

.grid-container {
  background-color: rgba(0, 31, 63, 0.7);
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px; /* Optional width for each card */
}

.Book-Now-Button {
  margin-top: 15px;
  margin-left: 97px;
  margin-right: 0;
}

.roomText {
  text-align: justify;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-block {
  margin-left: 20px;
}